<div>
  <!-- <button type="button" (click)="dec()" title="smaller">-</button>
  <button type="button" (click)="inc()" title="bigger">+</button>
  <span [style.font-size.px]="size">FontSize: {{size}}px</span> -->
<h1>{{title}} --> this is my title

</h1>

<!-- <input type="text" name="html_local_name" value = "{{username}}">

<button (click)="lgbtnclick($event)" type="button" name="html_local_button">Click Me</button>


<input type ="text" value = "{{username}}">

<input (keyup)="onKey($event)"> -->

<input type="text" name="value" [(ngModel)]="newuser">
<p> You entered {{newuser}}</p>
<button (click)="clearValue()">Clear</button>

</div>